html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

#header::before{ 
    content: "";
    position: absolute;
    background: url('../img/Landing-Page-background-image.png') no-repeat center center/cover;
    height: 750px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#whyHelper{
    margin-bottom: 80px;
}

/* Home Page Customs */

.custom-btn-home{
    background-color: #00607266;
    margin-bottom: 30px;
}
.custom-btn:hover{
    background-color: rgba(0, 96, 114);
}
.custom-border{
    border-style: none none none solid;
    border-left: 3px solid #1D7A8C;
}
.blog-img-1, .blog-img-2{
    z-index: -1;
}
.custom-position-1{
    position: absolute;
    top: 100%;
    left: 5%;
}
.custom-position-2{
    position: absolute;
    top: 100%;
    right: 5%;
}

/* FAQ Customs */
.hr-line {
    width: 62px;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid #CCCCCC;
}
.hr-img {
    position: relative;
    top: 3px;
    color: #ff0000;
}
#main-body{
    width: 1000px;
    margin: auto;
}
.custom_accordion_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    transition: 0.4s;
}
.active_btn,
.custom_accordion_btn:hover {
    background-color: #ccc;
}.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.custom-navigation{
    text-align: center;
    border-bottom: 2px solid #1D7A8C;
    padding-bottom: 0;
}
.custom-navigation .items{
    display: inline-block;
    width: 48%;
    padding: 10px;
}
#item-1{
    background-color: #1D7A8C;
    color: white;
}

/* Prices Customs */
#price{
    width: 550px;
    margin: auto;
    background: #000;
}
#price .one-time{
    background-color: #1D7A8C;
    padding: 10px;
}
#price .text-area-box{
    border: 1px solid #B0C9CE;
    border-top: 0;
    margin-top: -10px;
    padding: 20px 0;
}
#price .text-area-box .text-area{
    width: 300px;
    text-align: left;
    margin: auto;
}
#price .text-area-box .text-area i{
    color: #1D7A8C;
    font-weight: bold;
}

#extra-services{
    width: 1140px;
    margin: auto;
    border-top: 1px solid #B0C9CE;
}
#extra-services .sect .img{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #B0C9CE;
    border-radius: 50%;
    height: 108px;
    width: 108px;
}
#extra-services .sect span{
    color: #1D7A8C;
    font-weight: bold;
}
#what-we-include{
    background-color: #F6F6F6;
}
#what-we-include .custom_accordion_item{
    margin-left: -8px;
}


/* Contact Us Customs */
#get-in-touch .custom-border-contact{
    border-top: 1px solid #E1E1E1;
}
#get-in-touch form{
    width: 620px;
}
#get-in-touch form textarea{
    height: 146px;
}
#get-in-touch form button{
    background-color: #1D7A8C;
    color: white;
}
#map .pin{
    position: absolute;
    top: 145px;
    left: 605px;
}

/* About Us Customs */
.desc .custom-container-about{
    width: 982px;
    margin: auto;
}

/* Become a provider Customs */
#pro-header{
    background: url('../img/become-a-pro-banner.png') no-repeat center center/cover;
    height: 100vh;
}
#how_it_works{
    width: 55%;
    margin: auto;
}
#how_it_works .container .row a{
    text-decoration: none;
    color: black;
}

/* Upcoming Services Customs */
#upcoming_header{
    background-color: #525252;
}
#upcoming_header .notification{
   border-left: 1px solid #FFFFFF;
   padding: 0 15px;
}
#upcoming_header .admin{
   border-left: 1px solid #FFFFFF;
   padding: 0 15px;
   color: white;
}
#welcome_sec{
    background-color: #F9F9F9;
}
#upcoming_main_Sec .list{
    background-color: #1D7A8C;
    color: #FFFFFF;
    width: 20vw;
}
#upcoming_main_Sec .list hr{
    width: 100%;
}
#upcoming_main_Sec .table{
    color: #646464;
}
#upcoming_main_Sec .table thead{
    background-color: #F9F9F9;
}
#upcoming_main_Sec .table .btn{
    background-color: #FF6B6B;
    color: #FFFFFF;
}

/* Service History Customs */
#service_main_Sec .service_heading span{
    font-size: 22px;
    color: #646464;
}
#service_main_Sec .service_heading div{
    font-size: 14px;
    background-color: #146371;
    color: #FFFFFF;
}
#service_main_Sec .list{
    background-color: #1D7A8C;
    color: #FFFFFF;
    width: 20vw;
}
#service_main_Sec .list hr{
    width: 100%;
}
#service_main_Sec .table{
    color: #646464;
}
#service_main_Sec .table thead{
    background-color: #F9F9F9;
}
#service_main_Sec .table b{
    color: #1D7A8C;
}
#service_main_Sec .table .status_com{
    background-color: #67B644;
    color: #FFFFFF;
    text-align: center;
}
#service_main_Sec .table .status_can{
    background-color: #FF6B6B;
    color: #FFFFFF;
    text-align: center;
}
#service_main_Sec .table .btn{
    background-color: #6DA9B5;
    color: #FFFFFF;
}

/* User Management Customs */
#user_mgmt_header{
    background-color: #1FB6FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}
#user_mgmt_sec .list{
    width: 25vw;
    color: #646464;
}
#user_mgmt_sec .action{
    background-color: #F2F4F5;
    color: #646464;
}
#user_mgmt_sec .list span{
    border-bottom: 1px solid #E5E5E5;
    padding: 8px 5px;
}
#user_mgmt_sec table thead{
    color: #646464;
}
#user_mgmt_sec table tbody{
    background-color: #FFFFFF;
}
#user_mgmt_sec .btn-active{
    background-color: #67B644;
    color: white;
    width: 60%;
    margin: auto;
}
#user_mgmt_sec .btn-inactive{
    background-color: #FF6B6B;
    color: white;
    width: 60%;
    margin: auto;
}
#user_mgmt_sec form{
    border: 2px solid #E1E1E1;
    padding: 8px 8px 15px 8px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    margin: 15px 0px;
}

/* Service Request Customs */
#service_rqst_sec .list{
    width: 25vw;
    color: #646464;
}
#service_rqst_sec .action{
    background-color: #F2F4F5;
    color: #646464;
}
#service_rqst_sec .list span{
    border-bottom: 1px solid #E5E5E5;
    padding: 8px 5px;
}
#service_rqst_sec table thead{
    color: #646464;
}
#service_rqst_sec table tbody{
    background-color: #FFFFFF;
}
#service_rqst_sec .btn-new{
    background-color: #F2BB37;
    color: white;
    width: auto;
    margin: auto;
}
#service_rqst_sec .btn-pending{
    background-color: #1FB6FF;
    color: white;
    width: auto;
    margin: auto;
}
#service_rqst_sec .btn-comp{
    background-color: #67B644;
    color: white;
    width: auto;
    margin: auto;
}
#service_rqst_sec .btn-cancel{
    background-color: #FF6B6B;
    color: white;
    width: auto;
    margin: auto;
}
#service_rqst_sec form{
    border: 2px solid #E1E1E1;
    padding: 8px 8px 15px 8px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    margin: 15px 0px;
}

.custom-bgcolor-mgmt{
    background-color: #1FB6FF;
}

/* Custom Backgrounds */
.bg-custom-blue{
    background-color: #00607266;
}
.bg-custom-danger{
    background-color: #FF7B6D;
}
.bg-custom-black{
    background-color: #000000;
}
.bg-grey{
    background-color: #292929;
}